body{
    display: flex;
    flex-direction: column;
}

body, html {
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    position: fixed;
    background-color: rgb(73, 158, 138);
    width: 100%;
    height: 12vh;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
}

.space{
    width: 2%;
    height: 20px;
    background-color: rgba(0, 255, 255, 0);
}

.logo{
}
.info{
    list-style: none;
    justify-content: space-between;
    display: flex;
    gap: 30px;
    margin-left: 0px;
}

.info li a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
}

.info li a:hover{
    color: rgba(255, 255, 255, 0.747);
}

.button a{
    background-color: rgb(8, 88, 86);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: white;
    padding: 12px 30px;
    border-radius: 60px;
}

.button a:hover, .button2 a:hover{
    background-color: rgb(8, 77, 74);
    box-shadow: 5px 3px 10px 5px rgba(0, 0, 0, 0.281);
}

.nav-container > img{
    display: none;
}
.first-container{
    max-width: 100%;
    height: 94vh;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.first-container::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(Images/FundoInicio.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1px);
    z-index: -2;
}

.first-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.first-text{
    color: white;
    text-align: center;
    width: 75%;
    font-family: "Nunito", sans-serif;
    font-size: 2.2em;
    margin-top: 40px;
}

.first-text p{
    font-family: "Playwrite DE Grund", cursive;
    font-size: 0.8em;
    max-height: 250px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 630px;
}

.button2 a{
    background-color: rgb(8, 88, 86);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    color: white;
    padding: 12px 40px;
    border-radius: 60px;
}

#white-button a{
    background-color: rgba(0, 0, 0, 0);
    border: 3px white solid;
}

#white-button a:hover{
    background-color: white;
    color: black;
}

.principios-container{
    background-image: url(Images/Fundo\ Beneficios.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.title-principios{
    font-family: "Nunito", sans-serif;
    color:rgb(25, 91, 12);
    font-size: 1.3em;
}

.title-principios h3{
    color: rgba(48, 118, 30);
    margin-top: 30px;
}

.lista-principios{
    width: 90%;
    display: flex;
    list-style-type: none;
    justify-content:center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px;
}

.principio{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    font-family: "Ubuntu", sans-serif;
    color: rgba(92, 185, 69, 0.685);
    font-size: 3.7em;
}

.nome-principio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(25, 91, 12);
    font-size: 1.5em;
}

.beneficio{
    font-family: "Playwrite DE Grund", cursive;
    color: rgba(48, 118, 30);
    max-width: 300px;
}

.titulo-fotos{
    color: rgb(38, 116, 97);
    font-family: "Nunito", sans-serif;
    background-color: rgba(105, 220, 193, 0.356);
    text-align: center;
    padding: 80px 0px;
}

.titulo-fotos h2{
    color: rgba(49, 125, 106, 0.867);
    margin-top: 30px;
}

.fotos{
    display: flex;
    list-style-type: none ;
    flex-wrap: wrap;
}

.fotos div{
    width: 25%;
    height: 490px;
    margin-bottom: 0;  
}

.fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso mantém a proporção da imagem e ajusta para preencher o container */
}

.biografia{
    height: 80vh;
    width: 100%;
    background-color: rgba(105, 220, 193, 0.61);
}

.biografia img{
    margin-left: 15%;
    float: left;
}

.bio-container{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2% 5%;
}

.bio-container p{
    font-family: "Playwrite DE Grund", cursive;
    font-style: bold;
    color: rgb(38, 116, 97);
    text-align:justify;
}

.bio-container h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(38, 116, 97);

}

.bio-container h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(38, 116, 97, 0.707);
}

footer{
    background-color: rgba(73, 158, 138, 0.812);
    color: white;
    width: 100%;
    height: 45vh;
}

.footer img{
    object-fit: cover;
}

.nav-foot{
    width: 70%;
    display: flex;
    gap: 8%;
    margin-top: 4%; 
    margin-left: 15%;   
}

.info-foot{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: -2.5px;
    gap: 15px;
}

.nav-foot i{
    font-size: 1.7em;
    float: left;
}

.info-foot pre, .info-foot h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.final{
    width: 70%;
    margin-left: 15%;
    margin-top: 90px;
}

.Last-line{
    display: flex;
    justify-content: space-between;
    margin-top:10px ;
}

.Last-line i {
    font-size: 1.7em;
}

.Last-line i:hover {
    font-size: 1.9em;
}

.Last-line i:visited {
    color: white !important;
}

@media (max-width: 1300px) {
    .nav-container{
        justify-content: space-between;
    }

    .nav-container div img{
        margin-left: 10%;
    }

    .nav-container > img{
        display: inline;
        margin-right: 5%;
    }

    .info, .button, .space{
        display: none;
    }

    .first-text{
        font-size: 2em;
    }
}

@media (max-width: 1200px){
    .first-text{
        font-size: 1.9em;
    }
    
    .button2 a{
        font-size: 1.6em;
        padding: 12px 32px;
    }

    .button-container{
        width: 570px;
    }
}

@media (max-width: 980px){
    .first-text{
        font-size: 1.8em;
    }
    
    .button2 a{
        font-size: 1.5em;
        padding: 11px 28px;
    }

    .button-container{
        width: 550px;
    }
}

@media (max-width: 930px){
    .first-text{
        font-size: 1.7em;
    }
    
    .button2 a{
        font-size: 1.4em;
        padding: 10px 27px;
    }
    
    .button-container{
        width: 500px;
    }
    
}

@media (max-width: 876px){
    .first-text{
        font-size: 1.6em;
    }
}

@media (max-width: 755px){
    .first-container{
        margin-top: -5vh;
        height: 110vh;
    }
    
    .first-text{
        font-size: 1.4em;
    }

    .first-text p{
        height: 100px;
    }

    .button2 a{
        font-size: 1.3em;
        padding: 10px 24px;
    }
    
    .button-container{
        width: 450px;
    }
    
}

@media (max-width: 670px){
    .first-text{
        font-size: 1.3em;
    }

    .first-text p{
        height: 100px;
    }
    
    /* .button-container{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    } */
    
}

@media (max-width: 625px){
    .first-container{
        margin-top: -4vh;
    }
    
    .first-text{
        font-size: 1.25em;
    }

    .button2 a{
        font-size: 1.25em;
        padding: 9px 20px;
    }
}

@media (max-width: 600px){

    .button2 a{
        font-size: 1.2em;
        padding: 8px 18px;
    }
}

@media (max-width: 493px){
    .first-text{
        font-size: 1.2em;
    }

    .button2 a{
        font-size: 1.2em;
        padding: 8px 18px;
    }
}



