body{
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    position: fixed;
    background-color: rgb(73, 158, 138);
    width: 100%;
    height: 12vh;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
}

.space{
    width: 2%;
    height: 20px;
    background-color: rgba(0, 255, 255, 0);
}

.logo{
}
.info{
    list-style: none;
    justify-content: space-between;
    display: flex;
    gap: 30px;
    margin-left: 0px;
}

.info li a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
}

.info li a:hover{
    color: rgba(255, 255, 255, 0.747);
}

.button a{
    background-color: rgb(8, 88, 86);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: white;
    padding: 12px 30px;
    border-radius: 60px;
}

.button a:hover, .button2 a:hover{
    background-color: rgb(8, 77, 74);
    box-shadow: 5px 3px 10px 5px rgba(0, 0, 0, 0.281);
}

.first-container{
    width: 100%;
    height: 94vh;
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.first-container::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(Images/FundoInicio.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1px);
    z-index: -2;
}

.first-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.first-text{
    color: white;
    text-align: center;
    width: 75%;
    font-family: "Nunito", sans-serif;
    font-size: 2.2em;
    margin-top: 40px;
}

.first-text p{
    font-family: "Playwrite DE Grund", cursive;
    font-size: 0.8em;

}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 41%;
}

.button2 a{
    background-color: rgb(8, 88, 86);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    color: white;
    padding: 12px 40px;
    border-radius: 60px;
}

#white-button a{
    background-color: rgba(0, 0, 0, 0);
    border: 3px white solid;
}

#white-button a:hover{
    background-color: white;
    color: black;
}

.principios-container{
    background-image: url(Images/Fundo\ Beneficios.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.title-principios{
    font-family: "Nunito", sans-serif;
    color:rgb(25, 91, 12);
    font-size: 1.3em;
}

.title-principios h3{
    color: rgba(48, 118, 30);
    margin-top: 30px;
}

.lista-principios{
    width: 90%;
    display: flex;
    list-style-type: none;
    justify-content:center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px;
}

.principio{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    font-family: "Ubuntu", sans-serif;
    color: rgba(92, 185, 69, 0.685);
    font-size: 3.7em;
}

.nome-principio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(25, 91, 12);
    font-size: 1.5em;
}

.beneficio{
    font-family: "Playwrite DE Grund", cursive;
    color: rgba(48, 118, 30);
    max-width: 300px;
}

.titulo-fotos{
    color: rgb(38, 116, 97);
    font-family: "Nunito", sans-serif;
    background-color: rgba(105, 220, 193, 0.356);
    text-align: center;
    padding: 80px 0px;
}

.titulo-fotos h2{
    color: rgba(49, 125, 106, 0.867);
    margin-top: 30px;
}

.fotos{
    display: flex;
    list-style-type: none ;
    flex-wrap: wrap;
}

.fotos div{
    width: 25%;
    height: 490px;
    margin-bottom: 0;  
}

.fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso mantém a proporção da imagem e ajusta para preencher o container */
}

.biografia{
    height: 80vh;
    width: 100%;
    background-color: rgba(105, 220, 193, 0.356);
}